.navigation-top {
  display: flex;
  height: 73px;
  justify-content: space-between;
  padding: 0 20px;
  width: 90%;
}
.navigation-logo {
  height: 80px;
  width: 100px;
}
.navigation-links {
  align-items: center;
  display: flex;
}
.navigation-links a {
  color: white;
  margin-right: 32px;
  text-decoration: none;
}
.navigation-button {
  background-color: #cafc01;
  border: transparent;
  color: black;
  cursor: pointer;
  height: 30px;
  width: 100px;
}
