.post-comments {
  bottom: 10px;
  cursor: pointer;
  left: 50px;
  font-size: 25px;
  position: absolute;
}
.post-comments-span {
  z-index: 1;
  color: rgb(70, 38, 214);
  bottom: 22px;
  left: 24px;
  font-size: 15px;
  position: absolute;
}
