.comments {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(90deg, #efddad 0%, #eaa47a 46.88%, #e87a60 100%)
    1;
  min-height: 200px;
  position: relative;
  margin-bottom: 10px;

  width: 100%;
}
.comments-textarea {
  color: wheat;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(90deg, #efddad 0%, #eaa47a 46.88%, #e87a60 100%)
    1;
  background-color: transparent;
  height: 100px;
  padding: 10px 20px;
  width: 100%;
}
.comment-list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.comment {
  margin: 5px;
  border-bottom: 1px solid #e87a60;
  padding: 5px;
  margin-left: 30px;
  width: auto;
}
.comment-icon {
  margin-right: 8px;
  margin-bottom: -2px;
  width: 16px;
}
