.table {
  background-image: linear-gradient(90deg, #38142d88 54%, #000000 64%);
  width: 100%;
  margin-top: 100px;
  border-spacing: 0;
}
.table-head {
  background-color: #2a2835;
}
.table-head-row {
  border: none;
  color: white;
  height: 40px;
}
.table-body-row {
  color: azure;
}
.table-body-name {
  align-items: center;
  background-color: #2a2835;
  display: flex;
}
.table-body-symbol {
  width: 30px;
}
